.caja{
    width: 300px;
    height: 300px;
    background-color: red;
    padding: 25px;
    border-radius: 20px;
    /* border-radius: 50%; */
    /* box-shadow: 15px -10px 25px #120366; */
    box-shadow: 0px 0px 10px black;

    /*laterales (eje X) - arriba y abajo(eje Y) - desenfoque - color */



    /* margin: 20px;
    margin: 20px 30px;
    margin: 20px 10px 30px;
    margin: 10px 20px 30px 40px; */
}

/* img {
    border-radius: 50% 
} */

/*margin / padding */

