.caja{
    width: 300px;
    height: 300px;
    padding:20px;
   
background: #d129cb; /* Old browsers */
background: -moz-linear-gradient(45deg,  #d129cb 0%, #c3e52b 27%, #e08302 50%, #36e023 71%, #dd77d1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #d129cb 0%,#c3e52b 27%,#e08302 50%,#36e023 71%,#dd77d1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #d129cb 0%,#c3e52b 27%,#e08302 50%,#36e023 71%,#dd77d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d129cb', endColorstr='#dd77d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    
}