/* 
font-family: 'Architects Daughter', cursive;
font-family: 'Open Sans', sans-serif; 
*/

body{
   font-family: 'Open Sans', sans-serif;  
}

h2{
 font-family: 'Architects Daughter', cursive; 
 color: red;  
 font-size: 50px;

}

/* 

h3{
  font-family: arial;  
}

p{
  font-family: 'Open Sans', sans-serif; 
  line-height: 50px;  
} */