/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#container {
	width: 800px;
	background: #8FA68E;
	margin:0 auto;
	overflow: hidden;
}
#menu {
	background: #CC3910;
	float: left;
	width: 160px;
}
#menu ul {
	list-style-type:none;
}
#menu ul li a {
	color:#F1F2C0;
	text-decoration: none;
}
#content {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
#extras {
	background: #CCC59E;
	float: right;
	width: 190px;
}
